block content
    if cs
      link(rel="stylesheet", href=`../main/classrooms/${classroomid}/${cs.id}.css`) 
    if ht
      div#root
    if js
      script(src=`../main/classrooms/${classroomid}/${js.id}.js`)
      script const d = `#{ht.content}`

